.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-toggle.active {
    transform: translateX(200px);
}

.menu {
    width: 200px;
    height: 100vh;
    background-color: #333;
    position: fixed;
    top: 0;
    left: -200px;
    transition: left 0.3s ease;
}

.menu.active {
    left: 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

.menu li{
    margin-bottom: 10px;
}


.menu button {
    border-radius: 3px;
    border: none;
    width: 100%;
    height: 30px;
    background-color: #4c4ca8;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
}

.contenido {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.3s ease;
    -webkit-transition: margin-left 0.3s ease;
    -moz-transition: margin-left 0.3s ease;
    -ms-transition: margin-left 0.3s ease;
    -o-transition: margin-left 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: red;
}

.menu.active ~ .contenido {
    margin-left: 200px;
}

.hidden {
    display: none;
}

.saludoBton{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    width: 200px;
    height: 35px;
    border-radius: 3px;
    border: none;
    background-color: #0c9b18;
    color: #fff;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.saludo-message {
    display: none;
    width: 500px;
    position: absolute;
    top: 100px;
    border-radius: 10px;
    text-align: center;
    font-size:x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(106, 106, 180);
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.saludo-message.show {
    display: block;
}

.saludo-message.oculto {
    display: none;
}

.eliminar-icono {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    cursor: pointer;
}

