/* Estilos para el formulario */

#formulario{
  bottom: 50px;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;

}

form {
    padding: 20px;
    width: 400px;
    margin: auto;
    background-color: rgb(209, 205, 205);
    margin-bottom: 50px;
  }
  
  #formulario h2 {
    margin-left: 450px;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form input[type="email"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  label i{
    margin-right: 1em;
  }

  form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  form button[type="submit"]:hover {
    background-color: #45a049;
  }

/* Estilos para la tabla de datos */

.GRID-data{
  border-radius: 10px;
  text-align: center;
  width: 80%;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 500px;
}

#datosTabla {
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 100%;
}

#datosTabla th,
#datosTabla td {
  font-family:Arial, Helvetica, sans-serif;
  padding: 10px;
  border-start-start-radius: 2px;
  border-start-end-radius: 2px;
}

#datosTabla th {
  background-color: #b4adf0;
  border-bottom: 1px solid #ddd;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

#datosTabla td {
  border-bottom: 1px solid #ddd;
}

#tablaBody td{
  background-color: #d8d668;
}

.eliminar-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
  width: 5px;
}